<form method="post" action="{{ path('filmoteca_delete', {'id': filmoteca.id}) }}" onsubmit="return confirm('Seguro que quieres eliminar esta película?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filmoteca.id) }}">
    <button class="btn">Eliminar</button>
</form>
