{% extends 'base.html.twig' %}

{% block title %}Nueva pelicula{% endblock %}

{% block body %}
    <h1>Crear nueva película</h1>

    {{ include('filmoteca/_form.html.twig') }}

    <a href="{{ path('filmoteca_index') }}">Volver a la lista</a>
{% endblock %}
